<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title><%= title %></title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/header.ejs') %>
      <main class="main container">
        <div
          class="modal fade"
          id="create-game-modal"
          tabindex="-1"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="create-game-modal">
                  Add game to database.
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <%- include('partials/createGameForm.ejs', {studios:
                locals.studios, genres: locals.genres}); %>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  form="create-game-form"
                >
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="container" id="sidebar">
          <form class="filters" action="/" method="get">
            <fieldset>
              <legend>
                Filter by genre
                <button class="btn btn-success" type="submit">submit</button>
              </legend>
              <% if (locals.genres) { %> <% genres.forEach(genre => { %>
              <div class="checkbox-item">
                <input
                  type="checkbox"
                  name="genre"
                  id="<%= genre.name %>"
                  value="<%= genre.name %>"
                />
                <label for="<%= genre.name %>"><%= genre.name %> </label>
              </div>
              <% }) %> <% } %>
            </fieldset>
            <fieldset>
              <legend>Filter by studio</legend>
              <% if (locals.studios) { %> <% studios.forEach(studio => { %>
              <div>
                <input
                  type="checkbox"
                  name="studio"
                  id="<%= studio.id %>"
                  value="<%= studio.id %>"
                />
                <label for="<%= studio.id %>"><%= studio.name %></label>
              </div>
              <% }) %> <% } %>
            </fieldset>
            <button class="btn btn-success" type="submit">submit</button>
          </form>
        </div>
        <div class="container content">
          <section class="description">
            <h2>Games Inventory</h2>
            <h5>
              Manage a database of games, studios and genres. Create, update,
              delete items, or filter them by Genre and studio.
            </h5>
          </section>
          <div class="create-links">
            <a class="btn btn-info" href="/genre/create">Add genre</a>
            <a class="btn btn-info" href="/genre/update">Update genre</a>
            <a class="btn btn-info" href="/studio/create">Add studio</a>
            <a class="btn btn-info" href="/studio/update">Update studio</a>
          </div>
          <section class="games-container">
            <div class="games-header game-row">
              <h3>Title</h3>
              <h3>Publish Date</h3>
              <h3>Rating</h3>
              <span></span>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#create-game-modal"
              >
                Add Game
              </button>
            </div>
            <% if (locals.games) { %> <% games.forEach(game => { %>
            <div class="game-row">
              <p class="game-title"><%= game.title %></p>
              <p class="game-pub_date"><%= game.publish_date %></p>
              <p class="game-rating"><%= game.rating %></p>
              <a
                class="update-game-btn btn btn-outline-primary"
                href="/<%= game.id %>/update"
                >Update</a
              >
              <form
                class="delete-game-btn"
                action="/<%= game.id %>/delete"
                method="POST"
                style="display: inline"
              >
                <button
                  class="btn btn-outline-danger"
                  type="submit"
                  onclick="return confirm('Are you sure you want to delete this game?');"
                >
                  Delete
                </button>
              </form>
            </div>

            <% }) %> <% } %>
          </section>
        </div>
      </main>
      <footer><%- include('partials/footer') -%></footer>
    </div>
  </body>
</html>
